---
import CardPersonaggio from "~/components/CardPersonaggio.astro";
import Base from "~/layouts/Base.astro";
import { personaggi } from "~/data/personaggi";

export async function getStaticPaths({ paginate }) {
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(personaggi, { pageSize: 1 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;

---
<Base>
    <div class="max-w-lg mx-auto py-12">
      <CardPersonaggio 
        personaggio={page.data[0]}
      />
    </div>

    <div class="text-3xl text-white flex justify-between py-12 px-12">    
      {page.url.prev ? 
        <div class="flex flex-col">
          <a href={page.url.prev}>&lt;---</a>
          <span></span>
        </div>
        : <span></span>
      }
      {page.url.next ? 
        <div  class="flex flex-col">
          <a href={page.url.next}>---&gt;</a>
          <span></span>
        </div>
        : <span></span>
      }
    </div>
</Base>
