---
import CharacterCard from "~/components/CharacterCard.astro";
import Base from "~/layouts/Base.astro";
import { characters } from "~/data/characters";

export async function getStaticPaths({ paginate }) {
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(characters, { pageSize: 1 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;

---
<Base
  title={page.data[0].name}
>
    <div class="max-w-lg mx-auto py-12">
      <CharacterCard 
        character={page.data[0]}
      />
    </div>

    <div class="text-3xl text-white flex justify-between py-12 max-w-xl mx-auto px-8">    
      {page.url.prev ? 
        <div class="flex flex-col">
          <a href={page.url.prev}>&lt;---</a>
          <span></span>
        </div>
        : <span></span>
      }
      {page.url.next ? 
        <div  class="flex flex-col">
          <a href={page.url.next}>---&gt;</a>
          <span></span>
        </div>
        : <span></span>
      }
    </div>
</Base>
