---
import CardPersonaggio from "~/components/CardPersonaggio.astro";
import Base from "~/layouts/Base.astro";
import Dice from "../components/Dice.astro";

const item_files = await Astro.glob(`../../public/imgs/items/*`)
const painting_files = await Astro.glob(`../../public/imgs/paintings/*`)

const items = item_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

const paintings = painting_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

import { personaggi } from "../data/personaggi.js";

const getUrl = (personaggio) => {
    return "/personaggi/" + personaggio.id;
}
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    <h3 class="text-center  underline text-4xl text-white">Personaggi</h3>
    <div class="flex items-center justify-center">
        <ul>
            { 
                personaggi.map((personaggio) => {
                    return <li><a href={getUrl(personaggio)} >{personaggio.name}</a></li>
                })
            }
        </ul>
    </div>
    <div class="grid md:grid-cols-2 mt-6">
        <div class="panel-dark h-5-block py-4 w-5-block mx-auto">
            <Dice/>
        </div>
        <div class="panel-dark h-5-block py-4 w-5-block mx-auto">
            <Dice/>
        </div>
    </div>
</div>
</Base>
