---
import CardPersonaggio from "~/components/CardPersonaggio.astro";
import Base from "~/layouts/Base.astro";
import Dice from "../components/Dice.astro";

const item_files = await Astro.glob(`../../public/imgs/items/*`)
const painting_files = await Astro.glob(`../../public/imgs/paintings/*`)

const items = item_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

const paintings = painting_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

import { personaggi } from "../data/personaggi.js";

const getUrl = (personaggio) => {
    return "/personaggi/" + personaggio.id;
}
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    <h3 class="text-center underline text-2xl sm:text-4xl text-white">Prova</h3>
    <p class=" text-white">
        Show off your server, document your projects, build with blocks, display items and paintings, create game like GUIs, and tons more! This is a complete Minecraft theme with a documentation template built using Astro and Tailwindcss.
        Check out the <a href="/docs" class="text-link hover:underline">docs</a> page for more information on how to use the theme and its features
    </p>
    <h3 class="text-center  underline text-4xl text-white">Features</h3>
    <div class="flex items-center justify-center">
        <ul>
            { 
                personaggi.map((personaggio) => {
                    return <li><a href={getUrl(personaggio)} >{personaggio.name}</a></li>
                })
            }
        </ul>
    </div>
    <a href="/docs" class="self-center py-2 px-5 my-5 button text-shadow-lg text-2xl">Get started</a>
    <Dice/>
</div>
</Base>
