<button id="dice" class="button py-2 px-4 text-lg whitespace-nowrap block w-3-block mx-auto"
>Tira il D20!</button>
<div class="mt-4 mx-auto h-2-block w-2-block px-1 leading-[1.25rem] text-lg"
    id="diceResult"
><img src="/imgs/paintings/pigscene.png" class="object-contain w-full h-full"></div>

<script>
    const diceButton = document.getElementById("dice");
    const diceResult = document.getElementById("diceResult");

    function throwDice() {
        var seed = Math.random();
        var res = Math.floor(seed * 20) + 1;
        diceResult.innerHTML= "<p class=\"text-white font-black text-3xl\">" + res + "</p>";
        diceResult.classList.add("sign");
        return res;
    }
    
    diceButton.addEventListener("click", throwDice);
</script>
